CoapClient independent from ICoapEndpoint

Perhaps I'm not fully understanding the design, but it CoapClient's lifecycle must be 1:1 with CoapEndpoint.  I was expecting a scenario where CoapEndpoint could be a singleton, but multiple CoapClients could come and go.

Based on CoapClient's Dispose code, this is not the case, and my own results confirm it - too many receive async workers stack up and step on each other.

If this is a necessary design choice, then by all means let's do it this way.  However, I think it makes more sense to scope CoapClient to be easily transient.  What do you think?

EDIT: I may be confusing the notion of ICoapEndpoint with a *transport* when really perhaps it should be though of as more of an addressing mechanism?

Your edited comment is more accurate. `ICoapEndpoint` is on par with RFC 7252's definition of an Endpoint ([RFC 7252 Section 4.1](https://tools.ietf.org/html/rfc7252#section-4.1)) where an endpoint is the source or destination on a transport medium. For example, In the case of UDP, an endpoint is the host's IP address and port number.

Based on this. I decided CoapClient is initialised with an endpoint which is randomly assigned by the transport. Intended as a throw away endpoint when the client is disposed. 

However, I can see this being an issue on transports that do not have a per-host addressing scheme and thus you may only have one endpoint available for the host. 

I get the notion, and not against it.  I am hitting difficulties though now when I try to make both endpoint and client transient, client never disposes -

If I force the issue with a using, I get an "endpoint dispose timeout" even though my custom endpoint has no dispose code.

If I don't force the issue, then CoapClient lingers on waiting for a receive packet and never disposes - resulting in it "eating" the desired packet when a new CoapClient tries to get it

EDIT: This is all happening in the context of sending a single, simple CON GET, which I receive a response  to (presumably) successfully (ReceiveAsync nabs it, first time around)

EDIT2: For the record, distinct addressing represented by ICoapEndpoint *is* useful in our scenario

Oh right! Early in on the ICoapEndpoint's ReceiveAsync and SendAsync would accept a CancelltationToken as well. I removed them since I went with the concept I noted above. Neglecting to think about your scenario. 

I'll add the CancellationToken arguments back in. That should allow your endpoint to stop receiving immediately and dispose of the CoapClient right away

What if CoapClient Dispose in turn issues the requisite cancellation event?  Oh right that's kinda what you're saying... but for it to do so, ICoapEndpoint needs the CancellationToken parameter gotcha

That's the idea 

Sweet.  And CancellationToken on awaitable is always a good option to have !

Cool, added a unit test for your situation and a new release v0.6.0 should be out on NuGet shortly