Option Instances Are Not Encoded In Order

Section 3.1 of [RFC7252] Specifies that each option instance must be encoded in order of their option numbers.

What's not stated in that section but also very important is repeated options must have their order's preserved. (Take UriPath for example). 